clone_folder: c:\project\squiddio_pi
shallow_clone: false
clone_depth: 10

image:
- Visual Studio 2017

platform: 
# - x64
  - Win32

configuration: Release
test: OFF

install:
  # VS2015 and earlier version - '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x86'
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"

# sent environment variables for wxWidgets
  - set WXWIN=C:\wxWidgets-3.1.2
  - set wxWidgets_ROOT_DIR=%WXWIN%
  - set wxWidgets_LIB_DIR=%WXWIN%\lib\vc_dll
  - cmd: SET PATH=%PATH%;%WXWIN%;%wxWidgets_LIB_DIR%;C:\Program Files (x86)\Poedit\Gettexttools\bin;

# install dependencies:
  - choco install poedit

  # Download and unzip wxwidgets
  - ps: Start-FileDownload http://opencpn.navnux.org/build_deps/wxWidgets-3.1.2.7z
  - cmd: 7z x wxWidgets-3.1.2.7z -o%WXWIN% > null

#- set #Use only while debugging - it reveals the deploy token set on Appveyor
#- cmake --help

before_build:
  - cd c:\project\squiddio_pi
  - rm -rf build && mkdir build && cd build  
  - ps: Start-FileDownload https://downloads.sourceforge.net/project/opencpnplugins/opencpn_lib/4.99.1405-vc141_xp/opencpn.lib
  - ps: Start-FileDownload http://opencpn.navnux.org/build_deps/OpenCPN_buildwin-4.99a.7z
  - cmd: 7z x -y OpenCPN_buildwin-4.99a.7z -oc:\project\squiddio_pi\buildwin
  - cmake -T v141_xp ..

build_script:
  - cmake -G "Visual Studio 15 2017"   ..
  - cmake --build . --target install --config Release
  - cmake --build . --target package --config Release
  - choco install git
  - python -m ensurepip
  - python -m pip install -q setuptools
  - python -m pip install -q cloudsmith-cli
  - bash ../ci/appveyor-upload.sh

artifacts:
  path: 'build\*.exe'
  name: installer
# Deploy to GitHub Releases
deploy:

  provider: GitHub
  auth_token: 
    secure: 4l9NTrQyvKVqzBPAT3ejCSZhllJXWaI/QcFWTBHueU3YEqLRAZM3+LinoOBnMcf2  #Mauro's encryption
  artifact: installer,portable
  draft: true
  prerelease: true
#  tag: $(APPVEYOR_REPO_TAG_NAME) # insert version name
  on:
    configuration: Release    # Debug contains non-redist MS DLLs
    APPVEYOR_REPO_TAG: true   # deploy on tag push only
#   branch: master   # release from master branch only
